/* 5.1 - backrounds */
@media screen and (min-width:769px){
       .screen-1{
           background-image:url('images/eye.png');
           background-size:cover;
       }
        .screen-2{
          background-image:url('images/wire-pale-right.png');
          background-size:cover;
        }
         .screen-3{
           background-image:url('images/desktop-13.png');
          background-size:cover;
         }
         .screen-4{
           background-image:url('images/desktop-2.png');
          background-size:cover;
         }
         .screen-5{
          background-image:url('images/desktop-1.png');
          background-size:cover;
         }
         .screen-6{
          background-image:linear-gradient(rgba(134,187,216, 0.3),rgba(134,187,216, 0.7)),url('images/street-ai-3.png');
          background-size:cover;
      }
      }
      @media screen and (max-width:768px){
           .screen-1{
               background-image:linear-gradient(rgba(134,187,216, 0.5),rgba(134,187,216, 0.0)), url('images/eye-back2.svg.png');
               background-size:cover;

           }
           .screen-2{
               background-image:url('images/right-mob-1.png');
               background-size:cover;
           }
           .screen-3{
               background-image:url('images/mobile-22.png');
               background-size:cover;
           }
           .screen-4{
               background-image:url('images/right-mob-1.png');
               background-size:cover;
           }
           .screen-5{
               background-image:url('images/mobile-21.png');
               background-size:cover;
           }
           .screen-6{
               background-image:linear-gradient(rgba(134,187,216, 0.3),rgba(134,187,216, 0.7)), url('images/street-ai-3.png');
               background-size:cover;
           }
      }

/*  5.2 - cta-button fix */
      .cta{
          color:#006cb5ff !important;
          border:3px solid #006cb5ff !important;
      }

/* 5.3 - product images, from driftrock */
      .image-mock-right{
          position: absolute;
          right: -300px;
          top: 92px;
          width: 728px;
          margin-top: 10px;
          border: 1px solid #e2e2e2;
          border-radius: 4px;
          box-shadow: 4px 4px 33px 0 rgba(0,0,0,.1);
      }
      @media screen and (max-width: 1023px){
          .image-mock-right{
          position: absolute;
          right: -350px;
          top: 65px;
          width: 728px;
          margin-top: 10px;
          }
      }
      @media screen and (max-width:768px){
          .image-mock-right{
              position: relative;
              top: 0;
              right: 0;
              width: 100%;
              margin-bottom: 30px;
          }
      }

       .image-mock-left{
          position: absolute;
          right: -300px;
          top: 90px;
          width: 728px;
          margin-top: 10px;
          border: 1px solid #e2e2e2;
          border-radius: 4px;
          box-shadow: 4px 4px 33px 0 rgba(0,0,0,.1);
       }
       @media screen and (max-width: 1023px){
          .image-mock-left{
          position: absolute;
          right: -350px;
          top: 100px;
          width: 728px;
          margin-top: 10px;
          }
      }
       @media screen and (max-width:768px){
          .image-mock-left{
              position: relative;
              top: 0;
              right: 0;
              width: 100%;
              margin-bottom: 30px;
          }
       }
/* 5.4 - fix for image/text order */

       @media screen and (max-width:768px){
       .direction-fix{
           display:flex;
           flex-direction:column-reverse;
       }
       .column-fix{
           width:100%;
       }
       }
       /*  5.5 - wide bakery image */
       @media screen and (min-width:769px){
      .wide-img {
          background-image:linear-gradient(rgba(134,187,216, 0.3),rgba(134,187,216, 0.7)), url('images/bakery-3.jpg');
          height: 210px;
          background-repeat: no-repeat;
          background-size: cover;
          border: 1px solid #e2e2e2;
          border-radius: 4px;
          border-left:3px solid #006cb5;


      }
       }
     
     @media screen and (max-width:768px){
            .wide-img {
          background-image:linear-gradient(rgba(134,187,216, 0.3),rgba(134,187,216, 0.7)), url('images/rsz_1bakery-3.jpg');
          height:110px;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border: 1px solid #e2e2e2;
          border-radius: 4px;
          box-shadow: 4px 4px 33px 0 rgba(0,0,0,.1);

      }

       }
     
/* 5.6 - make DVS header look better */

      .is-thin-spaced{
          line-height:0.7;
      }
     .is-medium-spaced{
          line-height:0.9;
     }
/* 5.7- make padding bigger so that scroll anchors work */
     @media screen and (min-width: 769px){
     .has-padding-top-100{
         padding-top:8rem !important;
     }
     }
     @media screen and (max-width:768px){
         .has-padding-top-100{
             padding-top:4.5rem !important;
         }
     }

     @media screen and (min-width: 769px){
     .has-padding-100{
         padding-top:8rem !important;
         padding-bottom: 8rem !important;
     }
     }
     @media screen and (max-width:768px){
         .has-padding-100{
             padding-top:4.5rem !important;
             padding-bottom:4.5rem !important;
         }
     }
/*  5.8 - mobile menu */
     .menu-back{
         display:none;
         height:100vh;
         width:100vw;
         top:0;
         bottom:0;
         right:0;
         left:0;
         position:fixed;
         background:#fff;
         z-index:1;
      }
     .menu-list{
         display:flex;
         flex-direction:column;
         align-items:center;
         justify-content:center;
         width:100%;
         height:100%;

     }
/* 5.9 - some fixes for hero banner */
     .hero-pads{
         padding-top:8rem;
     }

      @media screen and (min-width: 769px){
      .is-0-tablet{
          font-size:100px;

      }
      }
      @media screen and (min-width: 769px), print{
          .has-padding-bottom-3{
              padding-bottom:3rem !important;
          }
      }
/* 5.10 - spacy padding for a box*/
      @media screen and (min-width: 769px){
      .box-pads{
          padding-top:3rem !important;
          padding-bottom:3rem !important;
          padding-left:3rem !important;
          padding-right:3rem !important;
          margin-top:20px;
      }
      }
 /* 5.11 - timeline */
      .timeline-header{
          margin-bottom:3em !important;
      }
      @media screen and (min-width:769px){
      .timeline{
    position:relative;
    height:500px;
    margin:0 auto;
      }
      }
     
     
.timeline::after {
  content: '';
  position: absolute;
  height:6px;
  background-color: #006cb5;
  bottom:50%;
  left:0;
  right:0;
  margin-right: -3px;
      }
@media screen and (max-width:768px){
          .timeline::after {
  content: '';
  position: absolute;
  width:4px;
  background-color: #006cb5;
  left:10px;
  top:0;
  bottom:0;
  margin-bottom: -3px;
  height:100%;
}
      }

.stage-top {
          min-height:182px;
          position: relative;
          background-color:#fff;
          top:0;
          border-bottom:3px solid #006cb5;
          padding:0.5rem;
          border-radius: 4px;
      }
.stage-top::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 4px solid #006cb5;
  bottom:-68px;
  border-radius: 50%;
  z-index: 1;
  left:0;
}
.stage-top::before{
    content: '';
    position: absolute;
    width:2px;
    background-color: #006cb5;
    left:10px;
    height:68px;
    bottom:0;
    margin-bottom:-68px;
      }
@media screen and (max-width:768px){
          .stage-top {
          min-height:100px;
          position: relative;
          background-color:#fff;
          border-left:3px solid #006cb5;
          border-bottom:none;
          padding:0.5rem;
          border-radius: 4px;
          margin-left:23px;
          margin-right:23px;
          }

    .stage-top::before{
  content: " ";
  height: 0;
  position: absolute;
  top: 3px;
  width: 0;
  z-index: 1;
  left: -10px;
  background-color:transparent;
  border: medium solid #006cb5;
  border-width: 10px 10px 10px 0;
  border-color: transparent #006cb5 transparent transparent;
}      
          .stage-top::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 4px solid #006cb5;
  top:5px;
  border-radius: 50%;
  z-index: 1;
  left:-22px;
}
      }

.stage-bottom {
          position: relative;
          height: 182px;
          background-color:#fff;
          margin-top:72px;
          padding:0.5rem;
          border-top:3px solid #006cb5;
          border-radius: 4px;
      }
.stage-bottom::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  background-color: white;
  border: 4px solid #006cb5;
  top:-60px;
  border-radius: 50%;
  z-index: 1;
  left:-5px;
      }

.stage-bottom::before{
    content: '';
    position: absolute;
    width:2px;
    background-color: #006cb5;
    left:5px;
    top:0;
    height:60px;
    margin-top:-60px;
      }
@media screen and (max-width:768px){
          .stage-bottom {
          position: relative;
          min-height: 100px;
          background-color:#fff;
          padding:0.5rem;
          border-left:3px solid #006cb5;
          border-top:none;
          border-radius: 4px;
          margin-right:23px;
          margin-left:23px;
          margin-top:0;
          }
          .stage-bottom::before{
  content: " ";
  height: 0;
  position: absolute;
  top: 3px;
  width: 0;
  z-index: 1;
  left: -10px;
  background-color:transparent;
  border: medium solid #006cb5;
  border-width: 10px 10px 10px 0;
  border-color: transparent #006cb5 transparent transparent;
  margin-top:0;
}

          .stage-bottom::after {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: white;
  border: 4px solid #006cb5;
  top:5px;
  border-radius: 50%;
  z-index: 1;
  left:-22px;
      }
      }

/*5.12 - margin fix for content class*/
.has-margin-bottom-0{
          margin-bottom:0 !important;
      }
.has-margin-bottom-half{
          margin-bottom:0.5rem !important;
      }
/*5.13 - custom box class*/
.blue-box-left{
          background-color:#fff;
          border-radius:6px;
          color:#4a4a4a;
          display:block;
          padding:3rem;
          border-left:3px solid #006cb5;
      }
@media screen and (max-width:768px){
          .blue-box-left{
          background-color:inherit;
          border-radius:6px;
          color:#4a4a4a;
          display:block;
          padding:1.25rem;
          border-left:none;
      }
      }
.blue-box-right{
          background-color:#fff;
          border-radius:6px;
          color:#4a4a4a;
          display:block;
          padding:3rem;
          border-right:3px solid #006cb5;
      }
@media screen and (max-width:768px){
          .blue-box-right{
              background-color:inherit;
              color:#4a4a4a;
              display:block;
              padding:1.25rem;
              border-right:none;
          }
      }
.blue-box-top{
          background-color:#fff;
          border-radius:6px;
          color:#4a4a4a;
          display:block;
          padding:1.25rem;
          border-top:3px solid #006cb5;
      }

/*5.14 - font-weight for the form*/
.font-400{
          font-weight:400 !important;
      }
/*5.15 - padding-bottom-0*/
@media screen and (max-width:768px){
.has-padding-bottom-0{
          padding-bottom:0rem !important;
      }
      }
