/* 5.1 - backrounds */
@media screen and (min-width:769px){
       .screen-1{
           background-image:url('images/eye.png');
           background-size:cover;
       }
        .screen-2{
          background-image:url('images/wire-pale-right.png');
          background-size:cover;
        }
         .screen-3{
           background-image:url('images/desktop-13.png');
          background-size:cover;
         }
         .screen-4{
           background-image:url('images/desktop-2.png');
          background-size:cover;
         }
         .screen-5{
          background-image:url('images/desktop-1.png');
          background-size:cover;
         }
         .screen-6{
          background-image:url('images/micro1.jpg');
          background-size:cover;
      }
      }
      @media screen and (max-width:768px){
           .screen-1{
               background-image:linear-gradient(rgba(134,187,216, 0.5),rgba(134,187,216, 0.0)), url('images/eye-back2.svg.png');
               background-size:cover;

           }
           .screen-2{
               background-image:url('images/right-mob-1.png');
               background-size:cover;
           }
           .screen-3{
               background-image:url('images/mobile-22.png');
               background-size:cover;
           }
           .screen-4{
               background-image:url('images/right-mob-1.png');
               background-size:cover;
           }
           .screen-5{
               background-image:url('images/mobile-21.png');
               background-size:cover;
           }
           .screen-6{
               background-image:url('images/micro1.jpg');
               background-size:cover;
           }
      }

/*  5.2 - cta-button fix */
      .cta{
          color:#006cb5ff !important;
          border: solid 2px #006cb5ff !important;
      }

/* 5.3 - product images, from driftrock */
      .image-mock-right{
          position: absolute;
          right: -300px;
          top: 20px;
          width: 728px;
          margin-top: 10px;
          border: 1px solid #e2e2e2;
          border-radius: 4px;
          box-shadow: 4px 4px 33px 0 rgba(0,0,0,.1);
      }
      @media screen and (max-width: 1023px){
          .image-mock-right{
          position: absolute;
          right: -350px;
          top: 40px;
          width: 728px;
          margin-top: 10px;
          }
      }
      @media screen and (max-width:768px){
          .image-mock-right{
              position: relative;
              top: 0;
              right: 0;
              width: 100%;
              margin-bottom: 30px;
          }
      }

       .image-mock-left{
          position: absolute;
          left: -300px;
          top: 60px;
          width: 728px;
          margin-top: 10px;
          border: 1px solid #e2e2e2;
          border-radius: 4px;
          box-shadow: 4px 4px 33px 0 rgba(0,0,0,.1);
       }
       @media screen and (max-width: 1023px){
          .image-mock-left{
          position: absolute;
          left: -350px;
          top: 80px;
          width: 728px;
          margin-top: 10px;
          }
      }
       @media screen and (max-width:768px){
          .image-mock-left{
              position: relative;
              top: 0;
              left: 0;
              width: 100%;
              margin-bottom: 30px;
          }
       }
/* 5.4 - fix for image/text order */

       @media screen and (max-width:768px){
       .direction-fix{
           display:flex;
           flex-direction:column-reverse;
       }
       .column-fix{
           width:100%;
       }
       }
/*  5.5 - parallax */
      .parallax1 {
          background-image:linear-gradient(rgba(134,187,216, 0.3),rgba(134,187,216, 0.7)), url('images/micro.jpg');
          height: 50px;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border: 1px solid #e2e2e2;
          border-radius: 4px;
          box-shadow: 4px 4px 33px 0 rgba(0,0,0,.1);
      }
      .parallax2{
          background-image:linear-gradient(rgba(134,187,216, 0.3),rgba(134,187,216, 0.7)), url('images/micro.jpg');
          height: 50px;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border: 1px solid #e2e2e2;
          border-radius: 4px;
          box-shadow: 4px 4px 33px 0 rgba(0,0,0,.1);
      }
       .parallax3{
           background-image:linear-gradient(rgba(134,187,216, 0.3),rgba(134,187,216, 0.7)), url('images/micro.jpg');
          height: 50px;
          background-attachment: fixed;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          border: 1px solid #e2e2e2;
          border-radius: 4px;
          box-shadow: 4px 4px 33px 0 rgba(0,0,0,.1);
      }


/* 5.6 - make DVS header look better */

      .is-thin-spaced{
          line-height:0.6;
      }
     .is-medium-spaced{
          line-height:0.9;
     }
/* 5.7- make padding bigger so that scroll anchors work */
     @media screen and (min-width: 769px){
     .has-padding-top-100{
         padding-top:8rem !important;
     }
     }
     @media screen and (max-width:768px){
         .has-padding-top-100{
             padding-top:4.5rem !important;
         }
     }

     @media screen and (min-width: 769px){
     .has-padding-100{
         padding-top:8rem !important;
         padding-bottom: 8rem !important;
     }
     }
     @media screen and (max-width:768px){
         .has-padding-100{
             padding-top:4.5rem !important;
             padding-bottom:4.5rem !important;
         }
     }
/*  5.8 - mobile menu */
     .menu-back{
         display:none;
         height:100vh;
         width:100vw;
         top:0;
         bottom:0;
         right:0;
         left:0;
         position:fixed;
         background:#fff;
         z-index:1;
      }
     .menu-list{
         display:flex;
         flex-direction:column;
         align-items:center;
         justify-content:center;
         width:100%;
         height:100%;

     }
/* 5.9 - some fixes for hero banner */
     .hero-pads{
         padding-top:8rem;
     }

      @media screen and (min-width: 769px){
      .is-0-tablet{
          font-size:100px;

      }
      }
      @media screen and (min-width: 769px), print{
          .has-padding-bottom-3{
              padding-bottom:3rem !important;
          }
      }
